<ion-content fullscreen="true">
  <div class="signup-container">

    <div class="signup-header">
      <h1 class="signup-title">Bienvenido!</h1>
    </div>

    <div class="signup-form">

      <ion-item class="input-item">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input 
          [(ngModel)]="email" 
          type="email" 
          required 
          placeholder="ejemplo@correo.com">
        </ion-input>
        <ion-text color="danger" *ngIf="email && !isValidEmail(email)">
          Por favor, ingrese un correo electrónico válido.
        </ion-text>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Contraseña (4 dígitos)</ion-label>
        <ion-input 
          [(ngModel)]="password" 
          type="number" 
          required 
          placeholder="Ingrese su contraseña de 4 dígitos">
        </ion-input>
        <ion-text color="danger" *ngIf="password && !isValidPassword(password)">
          La contraseña debe ser un número de 4 dígitos.
        </ion-text>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" required></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="apellido" required></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="stacked">Nivel Educación</ion-label>
        <ion-select [(ngModel)]="nivelEducacional">
          <ion-select-option value="Basica">Básica</ion-select-option>
          <ion-select-option value="Media">Media</ion-select-option>
          <ion-select-option value="Universitaria">Universitaria</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="stacked">Fecha Nacimiento</ion-label>
        <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="fechaNacimiento"></ion-datetime>
      </ion-item>       

      <ion-button 
        expand="block" 
        color="primary" 
        (click)="registrarUsuario()">
        Registrarse
      </ion-button>

      <ion-button expand="block" color="secondary" (click)="clearForm()">
        Limpiar
      </ion-button>

      <ion-text color="medium" class="register-button">
        ¿Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a>
      </ion-text>

    </div>
  </div>
</ion-content>
