<ion-header>
  <ion-toolbar>
    <ion-title>Artículos de Anime</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irAlCarrito()" fill="clear">
        <img src="assets/imagenes/107831 (1).png" alt="Carrito de Compras" style="width: 24px; height: 24px;">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Artículos de Anime</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of animeItems">
          <ion-checkbox slot="start" [(ngModel)]="item.seleccionado"></ion-checkbox>
          <ion-label>
            <h2>{{ item.nombre }}</h2>
            <p>Código: {{ item.codigo }}</p>
            <p>Valor: ${{ item.valor | number }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="agregarAlCarrito()">Agregar al Carrito</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
